<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745774929824-siuruei4noune1vod7k9d4radotlddib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745774929824-siuruei4noune1vod7k9d4radotlddib</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>745774929824-75fmts2c3dbb2aen06paljfkc4mbvbfa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBWlVXJlL6KnZiRW6EYM3M5g6mTg7589Bo</string>
	<key>GCM_SENDER_ID</key>
	<string>745774929824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ogive.ogive</string>
	<key>PROJECT_ID</key>
	<string>ogive-23</string>
	<key>STORAGE_BUCKET</key>
	<string>ogive-23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745774929824:ios:645303d2a5270dcb57f6c5</string>
	<key>DATABASE_URL</key>
	<string>https://ogive-23.firebaseio.com</string>
</dict>
</plist>